.listing {
    padding-bottom: 30px;
    margin: 50px 50px;
    display: flex;
}
.listing img {
    padding-right: 20px;
}
.listing-heading {
    padding: 10px 30px;
    width: 70%;

}
.listing-photo {
    height: auto;
    width: 17%;
}
.button-1 {
    width: 100px;
    height: 50px;
    border-style: none;
    background-color: rgb(188, 143, 143);
    margin-top: 150px;
    margin-left: 1030px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(184, 136, 136);
}
p {
    font-size: 20px;
}