.menu {
    background-color: rgb(188, 143, 143);
    color: #fff;
    padding: 25px;
    margin-bottom: 10px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 35px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}
.menu a:hover {
    cursor: pointer;
    color: bisque;
}