
form {
    position: absolute;
    right: 50px;
}
input[type="text"] {
    border: solid 1px black;
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 60%;
}
  
button {
    padding: 10px;
    border: solid 1px black;
    background: white;
    color: rgb(188, 143, 143);
    border-radius: 8px;
}
